#
# This group is read both by the client and the server
# use it for options that affect everything
#
[client-server]

[mysqld]
innodb_large_prefix=true
innodb_file_format=barracuda
innodb_file_per_table=true
default_authentication_plugin=mysql_native_password
skip-log-bin

#
# include *.cnf from the config directory
#
!includedir /etc/my.cnf.d

